<% @movies.each do |movie| %>
	<h1><%= link_to movie.title, movie %></h1>
	<p><%= movie.year %></p>
	<p><%= movie.director %></p>
	<p>Rating: <%= movie.rating %>/10</p>
	<p><%= movie.reviews.length %> reviews</p>
<% end %>