<div class="row">
	<div class="movie-show">
		<h1 id="title"><%= @movie.title %></h1>
		<h2 id="year"><%= @movie.year %> <%=@movie.director %></h2>
		<div class="col-md-3">
			<div class="movie-tile">
				<%= image_tag @movie.image, class: "poster" %>
			</div>
		</div>
	</div>
	<% if @reviews.length > 0 %>
		<div id="rating">
			<p><%= calculate_rating(@reviews) %></p>
		</div>
	<% end %>
	<p id="description"><%= @movie.description %></p>
</div>

<div class="review-container">
	<h3><%= @reviews.length %> Reviews</h3>
	<% @reviews.each do |review|%>
		<div class="review">
			<h4><%= link_to "#{review.user.name} says...", review %></h4>
			<p id="score"><%= review.score %>/10</p>
			<%= thumbs_up_down(review.judgement) %>
		</div>
	<% end %>
</div>

<% if user_signed_in? %>
	<div class="nav">
		<button><%= link_to @seen_text, seen_movie_path, method: :put %></button>
		<button><%= link_to 'Review movie', new_review_path(:movie_id => @movie.id) %></button>
	</div>

	<% if current_user.is_admin %>
		<div class="nav">
			<button><%= link_to 'Edit movie', edit_movie_path(@movie) %></button>
			<button><%= link_to 'Delete movie', @movie, method: :delete %></button>
			<button><%= link_to 'Back', movies_path %></button>
	<% end %>
<% end %>
</div>