<h1><%= @user.name %></h1>
<%= @user.email %>
<h2><%= @user.name %> has seen...</h2>
<% @user.movies.each do |movie| %>
	<li><%= link_to movie.title, movie_path %></li>
<% end %>

<h2><%= @user.name %> has written reviews for...</h2>
<% @user.reviews.each do |review| %>
	<li><%= link_to review.movie.title, movie_path %></li>
<% end %>