<h2><%= link_to @review.user.name, @review.user %></h2>
<p>Score: <%= @review.score %>/10</p>
<p><%= @review.comment %></p>
<p><%= ></p>
<% if current_user.id == @review.user_id %>
	<button><%= link_to 'Edit review', edit_review_path(@review) %></button>
	<button><%= link_to 'Delete review', @review, method: :delete %></button>
<% end %>
<button><%= link_to "Back", @review.movie %></button>