<!DOCTYPE html>
<html>
  <head>
    <title>Flix</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'%>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container">
      <div class="row">    
          <ul class="hmenu">
            <div class="col-sm-4">
              <div class="logo-tile">
                <%= image_tag "logo.png", class: "logo" %>
              </div>
            </div>

            <%= render 'devise/menu/login_items' %>
            <%= render 'devise/menu/registration_items' %>

            <div class="col-sm-1">
              <div class="nav-tile">
                <%= link_to "Movies", movies_path %>
              </div>
            </div>

            <div class="col-sm-1">
              <div class="nav-tile">
                <%= link_to "Add Movie", new_movie_path %>
              </div>
            </div>

            <div class="col-sm-1">
              <div class="nav-tile">
                <%= link_to "Users", users_path %>
              </div>
            </div>
          </ul>
        	<p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          </div>
      </div>
      <%= yield %>
  </body>
</html>
